!!! Fonts
xterm*font: -*-terminus-*-*-*-*-*-*-*-*-*-*-iso10646-*
xterm*boldFont: -*-terminus-*-*-*-*-*-*-*-*-*-*-iso10646-*
xterm*italicFont: -*-terminus-*-*-*-*-*-*-*-*-*-*-iso10646-*



! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

xterm*VT100.Translations: #override \
    Ctrl <Key> minus: smaller-vt-font() \n\
    Ctrl <Key> plus: larger-vt-font() \n\
    Ctrl <Key> 0: set-vt-font(d)



! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


xterm*trimSelection: true

! Lines of output that you can scroll back over
xterm*saveLines: 4096
! Turn the scrollbar on, and put it on the right
xterm*scrollBar: true
xterm*rightScrollBar: true

! Do not scroll when there is new input e.g. tail -f /var/syslog
xterm*scrollTtyOutput: false

! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
xterm*background: #282828
! soft contrast: *background: #32302f
xterm*foreground: #ebdbb2
! Black + DarkGrey
xterm*color0:  #282828
xterm*color8:  #928374
! DarkRed + Red
xterm*color1:  #cc241d
xterm*color9:  #fb4934
! DarkGreen + Green
xterm*color2:  #98971a
xterm*color10: #b8bb26
! DarkYellow + Yellow
xterm*color3:  #d79921
xterm*color11: #fabd2f
! DarkBlue + Blue
xterm*color4:  #458588
xterm*color12: #83a598
! DarkMagenta + Magenta
xterm*color5:  #b16286
xterm*color13: #d3869b
! DarkCyan + Cyan
xterm*color6:  #689d6a
xterm*color14: #8ec07c
! LightGrey + White
xterm*color7:  #a89984
xterm*color15: #ebdbb2

xterm*pointerColor: #458588
xterm*pointerColorBackground: #282828
xterm*cursorColor: #ebdbb2
xterm*cursorBlink: true











! urxvt -------------------------------------------

URxvt.font: xft:Whois:size=10 :antialias=true:autohint=false
URxvt.boldFont: xft:Whois:Bold:size=10 :antialias=true:autohint=false

! Add fallback fonts as laid out in `man 1 urxvt` under "font:" in the RESOURCES section

! Window size and position
!URxvt*geometry: 60x22+50+100
! Window size, let the Window Manager position it
URxvt.geometry: 80x28

URxvt.scrollBar: false

! scrollback buffer lines - 65535 is max (64 is default)
URxvt.saveLines:8192
URxvt.scaleHeight: 0.9

! Clickble URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button: 3


! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! hard contrast: *background: #1d2021
URxvt*background: #282828
! soft contrast: *background: #32302f
URxvt*foreground: #ebdbb2
! Black + DarkGrey
URxvt*color0:  #282828
URxvt*color8:  #928374
! DarkRed + Red
URxvt*color1:  #cc241d
URxvt*color9:  #fb4934
! DarkGreen + Green
URxvt*color2:  #98971a
URxvt*color10: #b8bb26
! DarkYellow + Yellow
URxvt*color3:  #d79921
URxvt*color11: #fabd2f
! DarkBlue + Blue
URxvt*color4:  #458588
URxvt*color12: #83a598
! DarkMagenta + Magenta
URxvt*color5:  #b16286
URxvt*color13: #d3869b
! DarkCyan + Cyan
URxvt*color6:  #689d6a
URxvt*color14: #8ec07c
! LightGrey + White
URxvt*color7:  #a89984
URxvt*color15: #ebdbb2































