! =====================================================================
! XTerm stuff
! =====================================================================
! Default and menu font
xterm*faceName: DejaVuSansMono Nerd Font Mono
xterm*faceSize: 10
xterm*renderFont: true



! font settings --------------------------------------------------------------

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
!Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


xterm*background: #1c1b1a
xterm*foreground: #f8f6f2
xterm*cursorColor: #aeee00
xterm*scrollColor: #45413b
xterm*fadeColor: #ffffff
xterm*fading: 20

! black
xterm*color0: #141413
xterm*color8: #000000
! red
xterm*color1: #ff2c4b
xterm*color9: #ff2c4b
! green
xterm*color2: #aeee00
xterm*color10: #aeee00
! yellow
xterm*color3: #fade3e
xterm*color11: #ffa724
! blue
xterm*color4: #0a9dff
xterm*color12: #0a9dff
! magenta
xterm*color5: #ff9eb8
xterm*color13: #ff9eb8
! cyan
xterm*color6: #8cffba
xterm*color14: #8cffba
! white
xterm*color7: #d9cec3
xterm*color15: #ffffff













































